* {
  margin: 0%;
  padding: 0%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: silver;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#main-header {
  height: 100px;
  padding-left: 50px;
  font-size: 2rem;
  font-weight: 900;
  background-color: #3b4d61;
  color: aliceblue;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid;
}
section {
  display: flex;
  flex-direction: column;
  width: 90%;
}
input,
textarea {
  width: 100%;
  height: 1.4rem;
  margin: 5px 0px;
  padding: 2.5px;
  resize: none;
}
textarea {
  height: 50px;
}
input[type="submit"] {
  padding: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
  height: 50px;
}
button {
  padding: 5px 10px;
}
h2 {
  margin: 10px 0px;
}
h3 {
  margin: 5px 0px;
}
h5 {
  margin: 2px 0px;
}
.general-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 5px;
  padding-top: 10px;
}
.preview-container {
  display: grid;
  border: 1px solid;
  margin: 0;
  padding: 0;
  max-height: max-content;
  background-color: #6b7b8c;
}
.gen-info-header {
  grid-column: 1/6;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  background-color: #3b4d61;
  color: aliceblue;
}
.gen-info-sidebar {
  grid-column: 5/6;
  grid-row: 2 / 5;
  border-left: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #b3a781;
}
img {
  width: 150px;
  height: auto;
  border: 4px solid rgb(47, 33, 15);
}
.gen-info-description {
  grid-column: 1/5;
  grid-row: 2/3;
  padding: 10px 0px;
}

.education-section {
  grid-column: 1/3;
}
.experience-section {
  grid-column: 3/5;
}
.name-and-lastname,
.gen-info-description,
.education-section,
.experience-section {
  margin: 0px 20px;
}
#base-form,
.preview-container {
  overflow: auto;
  margin: 0px 50px;
  height: 800px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#base-form {
  background-color: #b3a781;
  padding: 20px;
  height: 760px;
  border: 1px solid brown;
}
footer {
  grid-column: 1/3;
}
@media only screen and (max-width: 800px) {
  .general-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
  }
  #base-form,
  .preview-container {
    overflow: auto;
    margin: auto;
    max-width: 90vw;
  }
  #base-form {
    min-width: 70vw;
  }
  .preview-container {
    grid-row: 1/2;
  }
}
